<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duitku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".category.edit.EditCategoryActivity"></activity>
        <activity android:name=".category.fragment.ViewCategoriesActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2097480504227856~9592631403" />

        <activity android:name=".firebase.GetStarted" />
        <activity android:name=".welcome.WelcomeActivity" />
        <activity android:name=".account.UpgradePremiumActivity" />
        <activity android:name=".passcode.PasscodeActivity" />
        <activity android:name=".account.AddFeedbackActivity" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".budget.edit.EditBudgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".budget.view.ViewBudgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaction.category.ViewCategoryTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaction.edit.EditTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.edit.EditWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.view.ViewWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaction.add.AddTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.DuitkuProvider"
            android:authorities="com.example.duitku" />

        <service android:name=".firebase.FirebaseJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>