<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duitku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".budget.EditBudgetActivity"></activity>
        <activity android:name=".budget.ViewBudgetActivity" />
        <activity android:name=".transaction.category.ViewCategoryTransactionActivity" />
        <activity android:name=".transaction.EditTransactionActivity" />
        <activity
            android:name=".wallet.EditWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.ViewWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaction.add.AddTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.DuitkuProvider"
            android:authorities="com.example.duitku" />
    </application>

</manifest>